/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$color-primary: #2E3190;
$color-secondary: #FFC00D;
$color-progress: #45E6FF;
$color-arrive: #55AA00;

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: white;
}

.input-full-width {
    width: 100%;
}

.txtCenter {
    text-align: center;
}

.buttonPrimary {
    background-color: $color-primary;
    color: white;
}

.justify-content-center {
    text-align: center;
}

.tableMargin {
    margin: 7% 0% 0% 0%;
}

.btnSubmit {
    background-color: $color-primary;
    color: white;
    width: 200px;
    border-radius: 20px !important;
    margin-left: 25% !important;
}

.marker {
    background-size: cover;
    width: 50px;
    height: 50px;
    cursor: pointer;
    top: -25px;
}

.img-marker-user {
    background-image: url('./assets/images/ubication.png');
}

.img-marker-driver {
    background-image: url('./assets/images/taxi_assigned.png');
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white !important;
}

.mat-form-field-infix {
    border-top: 0;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1em 0 0.5em 0;
}